* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

nav {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  height: 70px;
  background-color: #363636;
  overflow: hidden;
}

nav .nav-container {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-container .logo {
  color: #e6e6e6;
  text-align: center;
}

nav .nav-container .logo p {
  font-family: 'Thasadith', sans-serif;
  font-size: 20px;
}

nav .nav-container .hamburger {
  position: relative;
  height: 30px;
  width: 40px;
}

@media (min-width: 1024px) {
  nav .nav-container .hamburger {
    display: none;
  }
}

nav .nav-container .hamburger span {
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: #00994d;
  border-radius: 6px;
  -webkit-transition: top 0.1s 0.1s, bottom 0.1s 0.1s, opacity 0.1s 0.1s, -webkit-transform 0.1s 0.1s;
  transition: top 0.1s 0.1s, bottom 0.1s 0.1s, opacity 0.1s 0.1s, -webkit-transform 0.1s 0.1s;
  transition: top 0.1s 0.1s, bottom 0.1s 0.1s, opacity 0.1s 0.1s, transform 0.1s 0.1s;
  transition: top 0.1s 0.1s, bottom 0.1s 0.1s, opacity 0.1s 0.1s, transform 0.1s 0.1s, -webkit-transform 0.1s 0.1s;
}

nav .nav-container .hamburger span:nth-child(1) {
  top: 0;
}

nav .nav-container .hamburger span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

nav .nav-container .hamburger span:nth-child(3) {
  bottom: 0;
}

nav .nav-container .hamburger.active {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

nav .nav-container .hamburger.active span:nth-child(1) {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

nav .nav-container .hamburger.active span:nth-child(2) {
  opacity: 0;
}

nav .nav-container .hamburger.active span:nth-child(3) {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

nav .nav-container .menu {
  position: absolute;
  top: 70px;
  right: 0;
  width: 150px;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  -webkit-transition: 200ms linear;
  transition: 200ms linear;
}

@media (min-width: 1024px) {
  nav .nav-container .menu {
    position: relative;
    top: 0;
    width: auto;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70px;
  }
}

nav .nav-container .menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: #363636;
}

@media (min-width: 1024px) {
  nav .nav-container .menu ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

nav .nav-container .menu ul li {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

nav .nav-container .menu ul li a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 10px 30px;
}

@media (min-width: 1024px) {
  nav .nav-container .menu ul li a {
    padding: 10px 15px;
  }
  nav .nav-container .menu ul li a span {
    position: absolute;
    width: 96%;
    height: 2px;
    background-color: #00994d;
    bottom: 0;
    left: -100%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  nav .nav-container .menu ul li a:hover span {
    left: 2%;
  }
}

nav .nav-container .menu.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  overflow: visible;
}

.banner {
  height: calc(100vh - 70px);
  background-image: url(../images/photo.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.banner h1 {
  margin: 30px 0;
  font-size: 24px;
}

@media (min-width: 768px) {
  .banner h1 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  .banner h1 {
    font-size: 32px;
  }
}

.banner .logo h1 {
  font-family: 'Thasadith', sans-serif;
  margin: 0;
}

.banner :nth-child(3) {
  text-transform: uppercase;
  font-size: 28px;
}

@media (min-width: 768px) {
  .banner :nth-child(3) {
    font-size: 32px;
  }
}

@media (min-width: 1024px) {
  .banner :nth-child(3) {
    font-size: 36px;
  }
}

.title {
  margin: 15px 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 26px;
}

@media (min-width: 768px) {
  .title {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 32px;
  }
}

.about {
  padding: 30px 0;
  background-color: #eeeeee;
}

.about .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (min-width: 1024px) {
  .about .description {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .about .description .text {
    padding-right: 50px;
  }
}

.about .description .text p {
  margin: 10px 0;
  line-height: 1.8;
  font-size: 14px;
}

@media (min-width: 768px) {
  .about .description .text p {
    font-size: 16px;
  }
}

.about .description .photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 650px) {
  .about .description .photos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .about .description .photos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.about .description .photos img {
  padding: 10px;
}

@media (min-width: 650px) {
  .about .description .photos img {
    padding: 10px 0;
  }
}

@media (min-width: 1024px) {
  .about .description .photos img {
    padding: 10px;
  }
}

.advantages {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .advantages {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 1024px) {
  .advantages {
    padding: 50px 0;
  }
}

.advantages .advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.advantages .advantage i {
  font-size: 40px;
  margin: 10px;
  color: #00994d;
}

@media (min-width: 768px) {
  .advantages .advantage i {
    font-size: 50px;
  }
}

@media (min-width: 1024px) {
  .advantages .advantage i {
    font-size: 60px;
  }
}

.advantages .advantage p {
  font-weight: 600;
}

@media (min-width: 768px) {
  .advantages .advantage p {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .advantages .advantage p {
    font-size: 20px;
  }
}

footer {
  background-color: #363636;
  color: #e6e6e6;
  text-align: center;
}

footer p {
  padding: 15px 0;
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */