* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

$brown-color: #453D36;
$chocolate-color: #453836;
$color-grey: #36453E;
$color-green: #00994D;
$color-green-lighter: #00CC66;

@mixin bgImg() {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

nav {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    background-color: $color-grey;

    .nav-container {
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {

            color: #e6e6e6;
            text-align: center;

            p {
                font-family: 'Thasadith', sans-serif;
                font-size: 20px;
            }
        }

        .hamburger {
            position: relative;
            height: 30px;
            width: 40px;

            @media(min-width: 1024px) {
                display: none;
            }

            span {
                position: absolute;
                height: 5px;
                width: 100%;
                background-color: $color-green;
                border-radius: 6px;
                transition: top .1s .1s, bottom .1s .1s, opacity .1s .1s, transform .1s .1s;

                &:nth-child(1) {
                    top: 0;
                }

                &:nth-child(2) {
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:nth-child(3) {
                    bottom: 0;
                }
            }

            &.active {
                transform: rotate(-90deg);

                span:nth-child(1) {
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg);
                }

                span:nth-child(2) {
                    opacity: 0;
                }

                span:nth-child(3) {
                    top: 50%;
                    transform: translateY(-50%) rotate(-45deg);
                }
            }
        }

        .menu {
            position: absolute;
            top: 70px;
            right: 0;
            width: 150px;
            transform: translate3d(100%, 0, 0);
            transition: 200ms linear;

            @media(min-width: 1024px) {
                position: relative;
                top: 0;
                width: auto;
                transform: translate3d(0, 0, 0);
                display: flex;
                align-items: center;
                height: 70px;
            }

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                background-color: $color-grey;

                @media(min-width: 1024px) {
                    flex-direction: row;
                }

                li {
                    position: relative;
                    display: inline-block;
                    overflow: hidden;

                    a {
                        display: block;
                        text-transform: uppercase;
                        text-decoration: none;
                        color: #fff;
                        padding: 10px 30px;

                        @media(min-width: 1024px) {
                            padding: 10px 15px;

                            span {
                                position: absolute;
                                width: 96%;
                                height: 2px;
                                background-color: $color-green;
                                bottom: 0;
                                left: -100%;
                                transition: .4s;
                            }

                            &:hover span {
                                left: 2%;
                            }
                        }
                    }
                }
            }

            &.active {
                transform: translate3d(0, 0, 0);
            }
        }
    }
}

.banner {
    height: calc(100vh - 70px);
    background-image: url(../images/photo.jpeg);
    @include bgImg();
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1 {
        margin: 30px 0;
    }

    .logo {
        h1 {
            font-family: 'Thasadith', sans-serif;
            margin: 0;
        }        
    }
    :nth-child(3) {
        text-transform: uppercase;
        font-size: 36px;
    }

   

}

.main {
    height: 200vh;
}